
.remover {
    background-color: #343a40;
}

.label {
    color: white;
    font-family: sans-serif;
}

.campo-de-busca{
    box-shadow: none;
    border: 1px solid #dadada;
    padding: 5px 20px;
    height: 50px;
    background: none;
    color: #959595;
    font-size: 12px;
    border-radius: 0;
}