
form {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: 2% 20% 2% 20%;
}

input, textarea {
    line-height: 25px;
    margin-top: 1%;
    margin-bottom: 1%;
}

button {
    width: 60%;
    margin-left: 20%;
    margin-top: 2%;
}