.tituloFilmesMarvel{
    font-family: sans-serif;
    color: white;
}
.containerFilmeMarvel {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1px
}

.imgsFilmesMarvel {
    border: 0.5px solid white;
    height: 246.92px;
    width: 147.8px;
}

.nomeFilmeMarvel {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
   margin: 5px 0 5px 0;
}

.detalhesFilmeMarvel {
    display: flex;
    flex-direction: row;
    color: #A3A3A3;
    font-size: 14px;
    font-family: sans-serif;
}
