.faixaBanner {
    background-color: black;
    color: white;
    font-family: sans-serif;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagemBanner {
    width: 100%;
    height: 100%;
}