.rodape{
    margin: 0;
    background-color: rebeccapurple;
    height: 80px;
    display: flex;
    justify-content: center;
    width : 100%;
    position: fixed;
    bottom: 0;
}

.copyright{
    color: aliceblue;
    font-size: 20px;
    position: fixed;
    bottom: 0;
}
.logo1{
    height:4rem ;
}