
.cabecalho {
    margin: 0 0 2% 0;
    background-color: rebeccapurple;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

.links{
    text-decoration: none;
    cursor: pointer;
}

li{
    color: aliceblue;
    list-style: none;
}